#Untracked files
FT2Dc.m
IFT2Dc.m
Propagator.m
old_main.m

MatlabFiles/FT2Dc.m
MatlabFiles/IFT2Dc.m
MatlabFiles/Propagator.m
MatlabFiles/old_main.m
MatlabFiles/Results/

CUDAFiles/build/
CUDAFiles/.vscode/
CUDAFiles/Videos/
CUDAFiles/CMakeFiles/
CUDAFiles/Makefile
CUDAFiles/phaseretrieval
CUDAFiles/CmakeCache.txt

#Ignore autosave files
*.asv
*.cmake
